.Button,
button {
  display: inline-block;
  height: rem-calc(48);
  padding: rem-calc(0 42);
  font-weight: 600;
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  text-align: center;
  color: $white;
  outline: 0;
  border: 0;
  border-radius: rem-calc(6);
  background: $blue;
  box-shadow: rem-calc(0 0 1) rgba(68, 80, 95, 0.08),
              rem-calc(0 1 4) rgba(68, 80, 95, 0.32);

  &.--small {
    height: rem-calc(40);  
  }

  &.--bordered {
    color: $blue;
    border: rem-calc(1) solid $blue-light;
    background: $blue-lighter;
    box-shadow: none;

    i {
      top: rem-calc(-1);
    }
  }

  &.--button {
    width: rem-calc(40);
    height: rem-calc(40);
    padding: rem-calc(0);
    border: rem-calc(1) solid $blue-light;
    background-color: $blue-lighter;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px auto;
    box-shadow: none;

    &.--minus { background-image: url('../assets/icon-minus.svg'); }
    &.--plus { background-image: url('../assets/icon-plus.svg'); }
    &.--remove { background-image: url('../assets/icon-close-red.svg'); }

    &:disabled {
      opacity: 0.25;
    }

    i {
      top: rem-calc(-1);
    }
  }

  &.--clear {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }

  &.--link {
    height: auto;
    padding: rem-calc(0);
    color: $red;
  }

  i {
    display: inline-block;
    position: relative;
    // top: rem-calc(-1);
    width: rem-calc(24);
    height: auto;
    vertical-align: middle;

    svg,
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  span {
    font-weight: normal;
  }
}