// background-image: url('../assets/[image-name].[image-extension]');

/*===============
  VENDORS
===============*/


/*===============
  SETTINGS
===============*/
@import 'settings/colors';
@import 'settings/fonts';

/*===============
  UTILITIES
===============*/
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/helpers';

/*===============
  BASE
===============*/
@import 'base/reset';
@import 'base/setup';
@import 'base/typography';
@import 'base/forms';

body,
html {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: rem-calc(16);
  font-family: 'Inter', sans-serif;
  color: $black;
  background-color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }
}

/*===============
  COMPONENTS
===============*/
@import 'components/buttons';

/*===============
  VIEWS
===============*/
@import 'views/index';